
.angle-right-albumHot {
	left: 210px;
}


.albumHot-content-box {
	margin-bottom: 10px;
}


.albumHot-singer {
	margin-top: 2px;
	margin-bottom: 0px;
}

.Tha-Rang-Nhu-The {
	background-image: url('./albumHot/Tha_Rang_Nhu_The.jpg');
}

.Len-Da-Lat-Cung-Em {
	background-image: url('./albumHot/Len_Da_Lat_Cung_Em.jpg');
}

.Sang-Mua {
	background-image: url('./albumHot/Sang_Mua.jpg');
}

.Anh-Nghi-Em-Tiec-Sao {
	background-image: url('./albumHot/Anh_Nghi_Em_Tiec_Sao.jpg');
}

.Xuan-Ua {
	background-image: url('./albumHot/Xuan_Ua.jpg');
}

.Dedicated {
	background-image: url('./albumHot/Dedicated.jpg');
}


.The-Dream-Chapter {
	background-image: url('./albumHot/The_Dream_Chapter.jpg');
}


.To-Tell-The-Truth {
	background-image: url('./albumHot/To_Tell_The_Truth.jpg');
}


.Snacks {
	background-image: url('./albumHot/Snacks.jpg');
}


.Partymobile {
	background-image: url('./albumHot/Partymobile.jpg');
}