.angle-right-giai-tri {
	left: 105px;
}

.Lan-Dau-Nghe-Nhac {
	background-image: url('./giai_tri/Lan_Dau_Nghe_Nhac.jpg');
}

.Airpods {
	background-image: url('./giai_tri/Airpods.jpg');
}


.Chet-Vi {
	background-image: url('./giai_tri/Chet_Vi.jpg');
}


.FA {
	background-image: url('./giai_tri/FA.jpg');
}


.Hitler {
	background-image: url('./giai_tri/Hitler.jpg');
}


.Huong-Dan {
	background-image: url('./giai_tri/Huong_Dan.jpg');
}

.Khi-Be-Simon {
	background-image: url('./giai_tri/Khi_Be_Simon.jpg');
}

.Khi-Lu-Ban {
	background-image: url('./giai_tri/Khi_Lu_Ban.jpg');
}


.Nhung-Video {
	background-image: url('./giai_tri/Nhung_Video.jpg');
}

.Radio {
	background-image: url('./giai_tri/Radio.jpg');
}


.Robot {
	background-image: url('./giai_tri/Robot.jpg');
}


.Wifi {
	background-image: url('./giai_tri/Wifi.jpg');
}



