
.hot-topic {
	width: max-content;
	margin-bottom: 20px;
	font-weight: 300;
}

.title-top-box{
	padding: 9px 0px 13px 0px;
	position: relative;
}

.top-box-link {
	text-decoration: none;
	color: #2daaed;
	font-size: 26px;
}

.angle-right {
	color: #2daaed;
	position: absolute;
	top: 16px;
	left: 167px;
}

.hot-top-list {
	margin: 0px;
	padding: 0px;
}


.hot-top-list li {
	list-style: none;
	margin-bottom: 15px;
}