.karaoke{
	margin-bottom: 20px;
}

.angle-right-karaoke {
	left: 130px;
}

.list-album-content-karaoke {
	width: 185px;
}

.list-album-karaoke {
	width: 185px;
	height: 103px;
	background-size: cover;
}



.view-icon {
	height: 10px;
	width: 10px;
	background-size: cover;
	background-image: url('./view-icon.png');
}

.video-length {
	font-size: 12px;
	color: #FFF;
	font-weight: 500;
	background-color: rgba(0,0,0,0.7);
	width: max-content;
	height: 16px;
	padding: 2px 3px;

	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: 83px;
	right: 0px;
}


 .list-album-karaoke:hover .overlay-hover{
	opacity: 1;
}

.list-album-karaoke:hover .play-icon-mv-1 {
	transform: scale(0.7);
}

.Tinh-Sau {
	background-image: url('./karaoke/Tinh_Sau.jpg');
}

.Loi-Cua-Anh {
	background-image: url('./karaoke/Loi_Cua_Anh.jpg');
}

.Cu-Ngo {
	background-image: url('./karaoke/Cu_Ngo.jpg');
}

.Neu-Mot-Mai {
	background-image: url('./karaoke/Neu_Mot_Mai.jpg');
}



