.container {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.header, .footer {
	grid-column-start: 1;
	grid-column-end: 3;

/*	position: fixed;
	top:0px;
	background-color: #FFF;
	z-index: 99999;*/
}

.footer {
	margin-top: 88px;
}

.ride-sidebar-box {
	padding-top: 20px;
	padding-left: 25px;
}

/*create a space between to menu-bar*/
.main, .right-sidebar{
	margin-top: 50px;

}

.main-box{
 	padding-top: 20px;
	width: 800px;
	height: max-content;
	float: right;
}

.draft {

	position: fixed;
	top: 0px;
	left: 10.8%;
	z-index: 11;
}

body {
	font-family: sans-serif;
}