.container {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.header {
	grid-column-start: 1;
	grid-column-end: 3;

/*	position: fixed;
	top:0px;
	background-color: #FFF;
	z-index: 99999;*/
}

.ride-sidebar-box {
	padding-top: 20px;
	padding-left: 25px;
}


.main-box{
 	padding-top: 20px;
	width: 800px;
	height: max-content;
	float: right;
}

body {
	font-family: sans-serif;
}