.menu-bar {
	height: max-content;
	padding: 6px 0px 7px 0px;
	border-bottom: 1px solid #DDD;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.menu {
	height: 42px;
	width: max-content;
	border: none;
	padding: 0px;
	margin-right: 35px;
	display: flex;
}

.nct-image {
	padding: 6px 8px 6px 0px;
	height: 30px;
	width: 64px;
}

@media (max-width: 1010px) {
	.menu-bar {
		justify-content: flex-start;
	}
	.menu-search-box {
		margin-left: 73px;
	}
}

@media (max-width: 736px) {
	.menu-search-box {
		margin-left: 0px;
	}
	.center-menu {
		margin-left: 73px;
	}
}