.menu-bar {
	height: max-content;
	width: max-content;
	padding: 6px 0px 7px 0px;
	border-bottom: 1px solid #DDD;
/*	to center menu-bar */
	margin: auto;

	display: flex;
	flex-direction: row;
/*	flex-wrap: wrap;
*/	
/*	justify-content: center;*/


	background-color: #FFF;


}

.menu {
	height: 42px;
	width: max-content;
	border: none;
	padding: 0px;
	display: flex;
}

.left-menu {
	margin-right: 35px;
}

.center-menu {
	border: none;
	margin-right: 20px;
}


.nct-image {
	padding: 6px 8px 6px 0px;
	height: 30px;
	width: 64px;
}

@media (max-width: 1010px) {
	.menu-bar {
		justify-content: flex-start;
	}
	.menu-search-box {
		margin-left: 73px;
	}
}

@media (max-width: 736px) {
	.menu-search-box {
		margin-left: 0px;
	}
	.center-menu {
		margin-left: 73px;
	}
}